<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Innovation Skool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <style>
    
    .sidebox{
   /* border: 2px solid rgba(6, 97, 154, 0.429);*/
    color: white;
    /*position: sticky;*/
   font-size: 200%;
    border-radius: 0.25cm;
    width: 40vw;
    height: 50vh;
    margin-left: 5%;
    margin-top: 9%;
    
}
a{
    text-decoration: none;
    color: aliceblue;
}





.login{
  
    /* background-color: black; */
    border-style: groove;
    color: gray;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10%;
    border-radius: 5px;
    font-size: 110%;
    background-color: skyblue;
    margin-bottom: 20%;
    
}
.Signup{
    background-color: skyblue;
    /* border-radius: 2px; */
    border:solid;
    border-style: groove;
    border-color:white;
    /* height: 200px; */
    font-size: 110%;
    color: gray;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-left: 10%;
}
.login:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: skyblue;
}
.Signup:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: skyblue;
}
body{
    background-repeat: no-repeat;
    background-size:cover;
    height: auto;
    position: center;
    background-attachment: fixed;
}
nav{
    color: rgb(255, 255, 255);
}
  </style>
</head>
<body background="bg.jpg">
    <section>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-weight: bold;">Innovation Scool</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index_head" style="font-weight: bold;">Head Master Portal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="font-weight: bold;">Downloads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" style="font-weight: bold;">Contact</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      
 
 <div > 
    
   
    
    <div class="sidebox" style="font-family:cursive">"Online Education can be a lifeline to those who have obstacles such as geographical distances or physical disabilities." <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-Innovators<div class="box"></div></div>
    <br>
   
    <span class="login"><a href="/login">Login</a></span>
    <span class="Signup"><a href="/register">Signup</a></span>
</div> 
</body>
</html>